app = 'not-dead-yet'
primary_region = 'arn'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[processes]
  app = "python -m uvicorn main:app --host 0.0.0.0 --port 8000"